.goodSection-gallery-block {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5vw;
    transition: .4s;
    width: max-content;
}

.goodSection-gallery {
    height: 230px;
    margin: 0 auto;
    background-image: url(https://myxtaridse.github.io/ecohome/assets/image-BlcObsXO.png);
    background-size: cover;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        background-color: rgba(171, 171, 171, 0.251);
        transition: all .4s;
        transform: scale(1.05);
    }
}

