@use './goodSection-gallery';
@use './goodSection-line';

.goodSection {
    padding: 15px;
    background-color: #fff;
    width: 260px;
    border-radius: 5px;

    h2 {
        margin-right: auto;
        margin-top: 10px;
        font-size: 18px;
    }

    .goodSection-rating {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 7px;
        width: 100%;
    
        p {
            margin-top: -2px;
            font-size: 16px;
            color: #565656;
            font-weight: 600;
        }
        h6 {
            margin-left: 10px;
            transform: translateY(-2px);
            font-size: 10px;
            font-weight: 350;
            color: #565656;
        }
    
        .star-ratings {
            gap: 2px;
        }
        .star-container {
            width: 20px !important;
            height: 20px !important;
    
            svg {
                width: 18px !important;
                height: 18px !important;
            }
          }
    }

    .goodSection-more {
        top: 5px;
        right: 10px;
        rotate: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        height: max-content;
        // background-color: #00000023;
        // box-shadow: inset 0px 0px 5px #0000000f;
        
        
        svg {
            width: 24px;
            height: 24px;

            path {
                stroke: #cf4f3290;
            }
        }
    }
}




.goodSection-actions-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.goodSection-actions {
    margin: 1px 5px 0px 5px;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        cursor: pointer;
        width: 24px;
        height: 24px;
    }
    div:hover {
       svg {
        path {
            fill: #000
        }
       }
    }
}

.goodSection:hover, 
.goodSection-line:hover {
    .goodSection-gallery {
        img {
            transform: scale(1.05);
        }
    }
}

.goodSection-basket {
       position: absolute;
       border: 1px solid white;
       top: 195px;
       right: 8px;
       background-color: #CF4E32;
       border-radius: 50%;
       width: 40px;
       height: 40px;
       display: flex;
       align-items: center;
       justify-content: center;

       svg {
            width: 24px;
            height: 24px;
            fill: white;
       }
}

.goodSection-category {
    margin-top: 0;
    display: flex;
    font-size: 9px;
    align-items: center;
    justify-content: start;
    gap: 2px;

    p {
        font-weight: 300;
    }
    .goodSection-category-arrow {
        transform: translateY(2px);
        width: 9px;
    
        svg {
            fill: #565656;
        }
    }
}


.goodSection-actions-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.goodSection-incr-decr {
    border: 1px solid #cf4f32a3;
    background-color: #fff;
    border-radius: 20px;
    height: 36px;
    width: 90px;
    position: absolute;
    top: 195px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    padding: 0px 10px;

    h2 {
        margin-right: 0;
    }

    .goodItem-reviews-item-status-arrow {
        font-size: 24px;
        width: max-content;
        height: max-content;
        padding: 0;
        background-color: transparent;
      }
 }