
@mixin text_count_line($count){
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $count;
    -webkit-box-orient: vertical;
}

.goodSection-line {
    position: relative;
    margin: 10px 0 0 10px;
    width: 62vw;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    

    h2 {
        margin-top: 10px;
        font-size: 18px;
    }

    .goodSection-rating {
    
        p {
            margin-top: 0px;
            font-size: 14px;
        }
    
        .star-ratings {
            gap: 0;
        }
        .star-container {
            width: 18px !important;
            height: 18px !important;
    
            svg {
                width: 16px !important;
                height: 16px !important;
            }
          }
    }
}
.goodSection-line-info {
    width: 70%;
    margin: 0 20px auto;
}

.goodSection-character {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    
    p {
        font-size: 14px;
    }

    p:first-of-type {
        font-weight: 650;
    }
}
.goodSection-description {
    @include text_count_line(2);

    p {
        font-size: 14px;
    }
        
      
    b {
        font-weight: 650;
    }
}


.goodSection-exchange {
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 7px;

    div {
        width: 17px;
        height: 17px;

        svg {
            fill: #CF4E32;
        }
    }
    p {
        font-size: 14px;
    }
}

.cartGood-category {
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2px;

    p {
        font-size: 11px;
        line-height: 14px;
        text-decoration: underline dotted #565656;
        color: #565656;
    }

    div {
        
        width: 9px;
        height: 9px;

        svg {
            fill: #565656 ;
        }
    }
    
}

.goodSection-line-actions {
    transition: all .5s;
    transform-origin: top;
    background-color: #F2F5F9;
    padding: 7px 12px;
    border-radius: 5px;
    width: 150px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
    box-shadow: 3px 3px 5px lightgray;

    div {
        cursor: pointer;
        width: 24px;
        height: 24px;
    }
    div:hover {
       svg {
        path {
            fill: #000
        }
       }
    }
}

.goodSection-more {
    position: absolute;
    top: 10px;
    right: 17px;
    z-index: 10;
    width: 25px;
    height: 23px;

        svg {
            fill: #565656;
        }
    
}

.cartPopup-actions {
    padding: 80px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 25px;
}



@media (max-width: 500px) {

    .goodSection-line {
        min-height: 130px;
        width: 100%;
        margin: 0;
        padding: 0;
    
        h2 {
            margin-top: 10px;
            font-size: 12px;
        }

        
        .goodSection-gallery {
            height: 150px;
            width: 150px;
        }

        .goodSection-exchange {
            margin-top: 0;
            p {
                font-size: 10px;
            }
        }
        h1 {
            position: static;
            top: 35%;
            right: 10px;
            font-size: 15px;
            margin: 2px 0;
        }
        
       
        .cartGood-incr-decr {
            vertical-align: middle;
            box-shadow: inset 1px 1px 5px lightgray;
            transform: translateX(0) translateY(40px);
            margin-top: auto;
            margin-bottom: 11%;
            gap: 25px;
            padding: 0px 15px;
             
             
         
                 .goodItem-reviews-item-status-arrow {
                     width: 0;
                     height: 0;
                     font-size: 22px;
                  }
         
                  h2 {
                     font-size: 18px;
                    
                  }
         }

         .goodSection-more {
            top: 2%;
            right: 2%;
            width: 20px;
            // display: none;
        }
       
    }
    

    .cartGood-category {
        // margin-top: auto;
        margin-bottom: auto;
    
        p {
            font-size: 9px;
            line-height: 9px;
        }
    
        div {
            transform: translateY(-1.5px);
            line-height: 9px;
            width: 8px;
            height: 8px;
        }
        
    }

    .goodSection-character {
        p {
            font-size: 10px;
        }
    }
    .goodSection-character:nth-of-type(3) {
        display: none;
    }

    .goodSection-line-actions {
        
        padding: 10px 5px;
        width: max-content;
        top: 18px;
        right: 7px;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        
    
        div {
            transform: translateY(-3px);
            width: 14px;
            height: 14px;
        }
    }
}

