@use './goodSection-gallery';
@use './goodSection-line';

.goodSection {
    padding: 15px;
    background-color: #fff;
    width: 260px;
    border-radius: 5px;

    h2 {
        margin-top: 10px;
        font-size: 18px;
    }

    .goodSection-rating {
    
        p {
            margin-top: -2px;
            font-size: 16px;
        }
    
        .star-ratings {
            gap: 0;
        }
        .star-container {
            width: 20px !important;
            height: 20px !important;
    
            svg {
                width: 18px !important;
                height: 18px !important;
            }
          }
    }
}

.goodSection-rating {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 7px;

}



.goodSection-actions-price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-size: 26px;
    }
}

.goodSection-actions {
    margin: 1px 5px 0px 5px;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        cursor: pointer;
        width: 24px;
        height: 24px;
    }
    div:hover {
       svg {
        path {
            fill: #000
        }
       }
    }
}

.goodSection:hover, 
.goodSection-line:hover {
    .goodSection-gallery {
        img {
            transform: scale(1.05);
        }
    }
}

.goodSection-basket {
    position: absolute;
    top: 160px;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0px 35px 10px #0000002d;

    svg {
        width: 24px;
        height: 24px;
        fill: #CF4E32;
    }
}