@use './goodSection-gallery';
@use './goodSection-line';

.goodSection {
    padding: 15px;
    background-color: #fff;
    width: 260px;
    border-radius: 5px;

    h2 {
        margin-top: 10px;
        font-size: 18px;
    }

    .goodSection-rating {
    
        p {
            margin-top: -2px;
            font-size: 16px;
        }
    
        .star-ratings {
            gap: 0;
        }
        .star-container {
            width: 20px !important;
            height: 20px !important;
    
            svg {
                width: 18px !important;
                height: 18px !important;
            }
          }
    }

    .goodSection-more {
        position: static;
        rotate: 90deg;
        width: 25px;
        height: 23px;
    
            svg {
                fill: #565656;
            }
        
    }
}


.goodSection-rating {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 7px;

}



.goodSection-actions-price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-size: 26px;
    }
}

.goodSection-actions {
    margin: 1px 5px 0px 5px;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        cursor: pointer;
        width: 24px;
        height: 24px;
    }
    div:hover {
       svg {
        path {
            fill: #000
        }
       }
    }
}

.goodSection:hover, 
.goodSection-line:hover {
    .goodSection-gallery {
        img {
            transform: scale(1.05);
        }
    }
}

.goodSection-basket {
        background-color: #CF4E32;
        width: 85%;
        height: 30px;
        font-size: 15px;
        color: white;
        font-weight: 700;
}

.goodSection-category {
    margin-top: 0;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: start;
    gap: 2px;

    p {
        font-weight: 300;
    }
    .goodSection-category-arrow {
        line-height: 10px;
        width: 12px;
    
        svg {
            fill: rgb(177, 177, 177);
        }
    }
}


.goodSection-actions-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}