.header-myCity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 8px;
  cursor: pointer;
  height: max-content;
  color: #474747;
}

.header-city-svg {
  width: 16px;
}

.header-arrow {
  transform: rotate(90deg);
  margin-left: -2px;
  margin-top: 0px;
  width: 20px;
  color:  #565656;
}
.header-arrow:hover {
  color: #cf4e32;
}
.header-cities-popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.56);
  z-index: 100;
}
.header-cities-popup {
  background-color: #fff;
  margin: 10vh auto;
  width: 50vw;
  height: 70vh;
  border: 1px solid #cf4e32;
  border-radius: 5px;
  padding: 10px 20px;
}
.header-popup-input {
  margin: 20px auto 0;
  width: 94%;
}
.header-cities-help {
  text-align: right;
  color: blue;
  margin-right: 60px;
  margin-top: 5px;
  text-decoration: underline dotted blue;
  cursor: pointer;
}

.header-cities-popup-list {
  width: 90%;
  margin: 10px auto;
  font-size: 16px;
  font-weight: 200;
  height: 75%;
  overflow-y: scroll;
  display: flex;
  align-items: start;
  // gap: 12px;
  flex-direction: column;
  padding-right: 5px;
  padding-top: 5px;
  scrollbar-width: thin;
  scrollbar-color: #cf4e32 #F2F5F9; /* плашка скролла и дорожка */
}
.header-cities-popup-list::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
.header-cities-popup-list div {
  cursor: pointer;
  width: 90%;
  padding: 10px 15px;
}
.header-cities-popup-list div:hover {
  background-color: #F2F5F9;
}
@media (max-width: 900px) {
  .header-myCity {
    gap: 5px;
    font-size: 7px;
    font-weight: 700;
  }
  .header-arrow {
    margin-left: 0;
    margin-top: 0;
    width: 18px;
    color: grey;
  }
  .header-map svg {
    width: 14px;
  }
}
@media (max-width: 500px) {
  .header-cities-popup-bg {
    position: static;
    width: 100vw;
    height: max-content;
    background-color: transparent;
  }
  .header-cities-popup {
    background-color: #fff;
    margin: 0 auto;
    width: 50vw;
    height: max-content;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
  }
  .header-myCity {
    gap: 5px;
    font-size: 7px;
  }

  .header-arrow {
    margin-left: 0;
    margin-top: 0;
    width: 18px;
  }
  .header-myCity .header-map {
    width: 14px;
    margin-top: 0;
  }
}

