.header-catalog-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #cf4e32;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.header-catalog-input input {
  padding-left: 15px;
  width: 45vw;
  font-size: 18px;
  height: 47px;
  border-radius: 15px;
  border: 1px solid #cf4f329f;
}

.header-catalog-search {
  cursor: pointer;
  width: 34px;
  height: 34px;
  margin: 0 15px 0 5px;
  border-radius: 0 15px 15px 0;
}
.header-catalog-search:hover {
  background-color: #a63218;
}

@media (max-width: 1800px) {
  .header-catalog-input {
    gap: 5px;
    border-radius: 15px;
    font-weight: 550;
  }
  .header-catalog-input input {
    padding-left: 10px;
    flex: 1;
    width: 40vw;
    font-size: 17px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #cf4f329f;
  }
  .header-catalog-search {
    width: 30px;
    height: 30px;
    margin: 0 15px 0 5px;
    border-radius: 0 15px 15px 0;
  }
}
@media (max-width: 1400px) {
  .header-catalog-input {
    gap: 5px;
    border-radius: 15px;
    font-weight: 550;
  }
  .header-catalog-input input {
    padding-left: 10px;
    flex: 1;
    width: 50vw;
    font-size: 16px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #cf4f329f;
  }
  .header-catalog-search {
    width: 28px;
    height: 28px;
    margin: 0 15px 0 5px;
    border-radius: 0 15px 15px 0;
  }
}
@media (max-width: 1300px) {
  .header-catalog-input {
    gap: 5px;
    border-radius: 15px;
    font-weight: 550;
  }
  .header-catalog-input input {
    padding-left: 10px;
    flex: 1;
    width: 40vw;
    font-size: 16px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #cf4f329f;
  }
  .header-catalog-search {
    width: 26px;
    height: 26px;
    margin: 0 15px 0 5px;
    border-radius: 0 15px 15px 0;
  }
}
@media (max-width: 1100px) {
  .header-catalog-input {
    gap: 5px;
    border-radius: 15px;
    font-weight: 550;
  }
  .header-catalog-input input {
    padding-left: 10px;
    flex: 1;
    width: 35vw;
    font-size: 14px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #cf4f329f;
  }
  .header-catalog-search {
    width: 26px;
    height: 26px;
    margin: 0 15px 0 5px;
    border-radius: 0 15px 15px 0;
  }
}
@media (max-width: 1000px) {
  .header-catalog-input {
    font-weight: 550;
  }
  .header-catalog-input input {
    padding-left: 10px;
    flex: 1;
    width: 50vw;
    font-size: 14px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #cf4f329f;
  }
  .header-catalog-search {
    width: 26px;
    height: 26px;
    margin: 0 15px 0 5px;
    border-radius: 0 15px 15px 0;
  }
}
@media (max-width: 700px) {
  .header-catalog-input {
    gap: 0;
    border-radius: 10px;
    font-weight: 500;
    background-color: transparent;
    margin-left: auto;
    margin-right: 45px;
  }
  .header-catalog-input input {
    display: none;
    padding-left: 10px;
    flex: 1;
    width: 40vw;
    font-size: 14px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #cf4f329f;
  }
  
  .header-catalog-search {
    width: 27px;
    height: 27px;
    margin: 0;
    border-radius: 0;
    background-color: transparent;

    svg {
      margin-top: -1px;
      fill: rgba(151,131,121,1);

    }
    svg:hover {
      fill: #a63218;
    }
  }
  .header-catalog-search:hover {
    background-color: transparent;
  }
}




@media (max-width: 500px) {
  .header-catalog-input {
    margin-right: 35px;
  }
}
@media (max-width: 450px) {
  .header-catalog-input {
    margin-right: 25px;
  }
  .header-catalog-search {
    width: 24px;
    height: 24px;

    svg {
      margin-top: -1px;
      fill: rgba(151,131,121,1);

    }
  }
}
@media (max-width: 350px) {
  .header-catalog-input {
    margin-right: 20px;
  }
  .header-catalog-search {
    width: 20px;
    height: 20px;
    svg {
      margin-top: -4px;
    }
    
  }
}