
.comparisonGoodMain-check {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;

    svg {
        fill: #CF4E32;
    }
}
.comparisonGoodMain-gallery {
    width: 100%;
    margin: 5px auto;

    img {
        width: 100%;
        height: 230px;
        object-fit:contain;
    }
}
.comparisonGoodMain-title {
    font-size: 19px;
}

.comparisonGoodMain-actions-price {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F5F9;
    padding: 10px 25px;
    border-radius: 5px;
}
.comparisonGoodMain-price {
    font-size: 22px;
    font-weight: 700;
}

.comparisonGoodMain-actions {
    display: flex; 
    align-items: center;
    gap: 25px;

    div {
        width: 24px;
        height: 24px;

        svg {
            fill: #565656;
        }
    }
}

.comparisonGoodsCharacter,
.comparisonGoodsSize {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;

    h2 {
        color: #000;
        position: sticky;
        top: 0;
        left: 10px;
    }
   
}

.comparisonGoodsCharacter-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    h4 {
        color: #565656;
        position: sticky;
        top: 0;
        left: 10px;
    }
}

.comparisonGoodsCharacter-flex {
    margin-top: 5px;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px 0;
    border-radius: 5px;
    gap: 40px;

    

    .comparisonGoodsCharacter-item {
        font-size: 18px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.comparisonGoodsCharacter-flex:hover {
    background-color: #ffe5df;
}

.comparisonReviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.star-ratings {
    width: max-content !important;
    display: flex !important;
    align-items: center;
    gap: 5px;
}
.star-container {
    width: 25px !important;
    height: 25px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;

    svg {
        width: 25px !important;
        height: 25px !important;
    }
}
.comparisonReviews-flex {
    background-color: #F2F5F9;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    p {
        font-size: 24px;
        font-weight: 700;
        color: #333333;
    }
}
.comparisonGoodMain-lock-block {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ffe5df;
    border-radius: 2px;
}
.comparisonGoodMain-lock-relative {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.comparisonGoodMain-lock {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 24px;
        height: 24px;

        path {
            stroke: #CF4E32;
            stroke-width: 1.5;
        }
    }
}
.comparisonGoodMain-lock-close {
    position: absolute;
    top: -7px;
    left: 8px;
    width: 18px;
    height: 18px;
    transition: all .9s;
    transform: scaleX(1) rotateY(0deg);

    svg {
        width: 10px;
        height: 10px;
        path {
            stroke: #CF4E32;
            stroke-width: 1.2;
        }
    }
}
.comparisonGoodMain-lock-open {
    transform: scaleX(-.8);
}


@media (max-width: 500px) {
    .comparisonGoodMain-check {
        top: 5px;
        left: 5px;
        width: 20px;
        height: 20px;
        right: 0;
    }
    .comparisonGoodMain-gallery {
        margin: 0px auto;
    
        img {
            height: 180px;
        }
    }
    .comparisonGoodMain-title {
        font-size: 13px;
    }
    .comparisonGoodMain-actions-price {
        background-color: #fff;
        margin-top: 10px;
        justify-content: space-between;
        padding: 5px;
    }
    .comparisonGoodMain-price {
        font-size: 16px;
    }
    
    .comparisonGoodMain-actions {
        width: 100%;
        display: flex; 
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    
        div {
            width: 17px;
            height: 17px;

            svg {

                transform: translateY(-2px);
            }
        }

        
    }

    .comparisonGoodsCharacter,
    .comparisonGoodsSize {
        margin: 20px 0;
        gap: 15px;

        h2 {
            font-size: 17px;
        }
        h4 {
            font-size: 14px;
        }
    }
    .comparisonGoodsCharacter-flex {
        margin-top: 0px;
        padding: 10px 0;
        gap: 20px;
        .comparisonGoodsCharacter-item {
            font-size: 13px;
            width: 150px;
            text-align: center;
            flex-wrap: wrap;
            padding: 0 20px;
            
            p:not(.comparisonReviews-flex p) {
                margin-top: 3px;
                font-size: 10px;
                margin-right: auto;
                margin-left: 2px;
            }

            .comparisonReviews-popular {
                text-decoration: underline dotted #565656;
            }
            
        }
    }



    .comparisonReviews-flex {
        padding: 5px 10px;
        border-radius: 5px;
        gap: 10px;
    
        p {
            font-size: 14px;
        }
    }
    .star-ratings {
        gap: 3px;
        transform: translateY(-2.5px);
    }
    .star-container {
        width: 12px !important;
        height: 12px !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
    
        svg {
            width: 12px !important;
            height: 12px !important;
        }
    }
    
}