.goodItem-main {
    display: flex;
    margin: 5px 50px;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 30px;
}
.goodItem-main-title {
    width: 150%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.goodItem-add-review {
    margin-left: 15px;
    width: 110px;
    font-size: 13px;
    background-color: #cf4f32;
    color: white;
    border: none;
    height: 35px;
}

.goodItem-main-article-reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.goodItem-main-reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 20px;
}
.goodItem-main-reviews p {
    text-decoration: underline dotted #565656;
    margin-top: -2px;
    font-size: 17px;
    font-weight: 300;
}

@media (max-width: 1650px) {
    .goodItem-main-reviews p {
        text-decoration: underline dotted #565656;
        margin-top: -2px;
        font-size: 15px;
    }
    .goodItem-main-article {
        font-size: 15px;
    }
    .goodItem-main {
        margin: 0;
        width: 76%;
        gap: 20px;
    }
    .goodItem-main-reviews {
        gap: 10px;
    }
    .goodItem-main-article-reviews {
        align-items: start;
        flex-direction: column;
        justify-content: start;
        gap: 5px;
    }
    .goodItem-main-reviews-show {
        display: none;
    }
}

@media (max-width: 1400px) {
    .goodItem-main {
        width: 65%;
        gap: 25px;
    }
}

@media (max-width: 1200px) {
    .goodItem-main-reviews p {
        font-size: 13px;
    }
    .goodItem-main-article {
        font-size: 13px;
    }
    .goodItem-main-title {
        font-size: 16px;
    }
    .goodItem-add-review {
        margin-top: 5px;
        margin-left: 10px;
        width: 100px;
        font-size: 12px;
        height: 32px;
    }
    
}

@media (max-width: 1100px) {
    .goodItem-main-article-reviews {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }
    .goodItem-main {
        width: 50%;
        gap: 20px;
    }
    .goodItem-main-reviews-show {
        display: none;
    }
}

@media (max-width: 950px) {
    .goodItem-main-title {
        
        h1 {
            font-size: 24px;
        }
    }
    
}

@media (max-width: 800px) {
    .goodItem-main {
        margin-right: auto;
        margin-left: 5vw;
    }
}

@media (max-width: 550px) {
    .goodItem-main {
        width: max-content;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 500px) {
    .goodItem-main-title {
        margin: 0 0;
        width: 100%;
        
        h1 {
            font-size: 18px;
        }
    }
}
@media (max-width: 400px) {
    .goodItem-add-review {
        margin-left: 0;
        margin-top: 0;
    }
    
}