.goodItem-review {
    border: none;
    border-top: 1px solid lightgray;
    margin: 0px auto 0;
    padding: 20px 0;
    border-radius: 0;
    position: relative;
    width: 100%;
}


// .goodItem-review:not(.goodItem-review:nth-of-type(1)) .goodItem-most-popular-review-title {
//     display: none;
// }

.goodItem-most-popular-review-title {
    margin: 0 0 10px auto;
    width: max-content;
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    justify-content: start;
    gap: 5px;
    font-size: 12px;
    font-weight: 350;
    color: #cf4f32;

    div {
        width: 11px;

        svg {
            fill: #cf4f32;
        }
    }
}

.goodItem-reviews-item-user {
    display: flex;
    align-items: center;
}
.goodItem-reviews-item-user-name {
    margin-left: 20px;

    h3{
        font-size: 16px;
    }
    p{
        margin-top: -5px;
        font-size: 15px;
        font-weight: 600;
        color: #6a6a6a;
    }
}

.goodItem-reviews-item-user-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;

    img {
        width: 100%;
        height: 100%;
    }
}
.goodItem-reviews-item-text {
    margin: 15px 0;
    font-size: 18px;
}
.goodItem-reviews-item-status {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 25px;
    font-size: 12px;

    h2 {
        margin: 0;
    }
}
.goodItem-reviews-item-status-arrow {
    width: 24px;
    height: 24px;
    padding: 2px;
    background-color: rgb(220, 220, 220);
    border-radius: 50%;

    svg {
        fill: #6a6a6a;
    }
}
.goodItem-reviews-item-status-arrow:first-of-type {
    transform: rotate(-90deg);
}
.goodItem-reviews-item-status-arrow:last-of-type {
    transform: rotate(90deg);
}



.goodItem-reviews-reviews-title {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 15px;
    font-weight: 650;
}

.goodItem-reviews-reviews-title-svg {
    margin-top: 0;
    width: 22px;
    transform: rotate(90deg);
    transition: .4s;
    cursor: pointer;
}
.goodItem-reviews-reviews-title-svg-down {
    margin-top: 0;
    transform: rotate(270deg);
    
  }

  .goodItem-reviews-item-status-answers {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
  }


  @media (max-width: 1650px) {
    .goodItem-review {
        // margin: 10px auto 0;
    }
    .goodItem-reviews-item-user-avatar {
        width: 45px;
        height: 45px;
    }
    .goodItem-reviews-item-user-name {
        margin-left: 10px;

        h3{
            font-size: 14px;
            font-weight: 700;
        }
        p{
            font-size: 8px;
        }
    }
    .goodItem-reviews-item-stars {
        margin-top: 5px;
       font-size: 8px;
    }
    .goodItem-reviews-item-link {
        width: 24px;
        // margin-right: 80px;
    }
    .goodItem-reviews-item-text {
        width: 97%;
        margin: 20px auto 0;
        display: flex;
        flex-direction: column;
        gap: 18px;

        div {
            h4 {
                font-size: 16px;
            }
            p {
                font-size: 15px;
            }
        }
    }
    .goodItem-reviews-item-status {
        gap: 30px;
    }
    .goodItem-reviews-reviews-title-svg {
        width: 26px;
    }
    .goodItem-reviews-reviews-title {
        gap: 15px;
    }
    .goodItem-reviews-item-status-answers {
        gap: 50px;
      }
    
  }