.goodStars {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 15px;
    background-color: #F3F5F9;
    border-radius: 5px;

    p {
        font-size: 14px;
    }
}
.goodStars-flex {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;

    div {
        transform: translateY(3px);
        width: 28px;
    }

    h2 {
        font-size: 18px;
    }
}

.goodStars-info-svg {
    width: 32px;
    height: 32px;
}