@use './cart-popup';
@use './cart-mobile-map';
@use './cart-mobile-person';

.cartMobile-total-block {
    margin: 20px auto 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;

    div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button {
        background-color: #CF4E32;
        width: 95vw;
        height: 40px;
        font-size: 15px;
        color: white;
        font-weight: 700;
        margin: 10px auto;
    }
}

.cartMobile-recommend {
    background-color: #F2F5F9;
    width: 100vw;
    margin-left: -10px;
    
    padding: 20px 10px;
}

.cartMobile-recommend-goods {
    display: flex;
    align-items:stretch;
    gap: 12px;
    margin: 10px 0;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; 

    .goodSection {
        min-height: 200px;
        padding: 10px;
        width: 100%;
        min-width: 160px;
        display: flex;
        flex-direction: column;



        .goodSection-gallery {
            width: 100%;      
            height: 150px;
          }

          h2 {
            margin-top: 10px;
            font-size: 13px;
          }

          .goodSection-rating {

            .star-container {
                transform: translateY(-5px);
                width: 12px !important;
                height: 12px !important;
    
                svg {
                    width: 11px !important;
                    height: 11px !important;
                }
            }

            p {
                margin-top: 0;
                font-size: 12px;
            }
          }

          .goodSection-actions-price {
            margin-top: auto;
            height: max-content;
            
            h1 {
                font-size: 16px;
            }
          }

          .goodSection-actions {
            transform: translateY(-2px);
            margin: 0;
            div {
                width: 16px;
                height: 16px;
              }
          }

        
    }
}

.cartMobile-pickup {
    margin-top: 30px;

}

.cartMobile-pickup-link {
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 10px 10px;
    gap: 40px;

    h6 {
        font-size: 13px;
        font-weight: 650;
        color: #565656;
    }

    svg {
        transform: rotate(90deg) translateX(-2px);
        width: 20px;
        height: 20px;
        fill: #565656;
    }
}

.checkout-person-data {
    margin: 30px 0;

    .cartMobile-pickup-link {
        margin: 10px 0;
        display: block;


        .cartMobile-pickup-link-flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.checkout-person {
    p {
        font-size: 12px;
        color: #565656;
        text-decoration: underline dotted #565656;
    }
}