.goodItem-questions {
    width: 95%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    input, textarea {
        width: 100%;
        height: 50px;
        border: 1px solid #56565671;
        border-radius: 5px;
        padding-left: 10px;
        font-size: 15px;
    }
    textarea {
        height: max-content;
        min-height: 70px;
        padding-top: 10px;
    }
    button {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-left: auto;
        margin-right: 5%;
        width: 100%;
        height: 40px;
        font-size: 16px;
        color: white;
        background-color: #CF4E32;

        div {
            margin-top: 2px;
            width: 22px;
            height: 22px;
        }
    }

    .checkout-person-itsMe {
        margin: 0px 0px 0px auto;
    }
}



.goodItem-questions-item h2 {
    color: #565656;
    margin: 20px 0 20px 40px;
}

@media (max-width: 1650px) {
    .goodItem-questions {
        margin: 0px auto 0;
    }
    .goodItem-questions-title {
        gap: 10px;
        h1 {
            font-size: 26px;
        }
    
        div {
            margin-top: 5px;
            width: 26px;
        }
    }
    .goodItem-questions form {
        margin: 0px 70px;
        gap: 30px;
    
        input, textarea {
            height: 40px;
            padding-left: 15px;
            font-size: 16px;
        }
        button {
            gap: 8px;
            width: 16%;
            height: 40px;
            font-size: 16px;
    
            div {
                width: 18px;
                height: 18px;
            }
        }
    }
    .goodItem-questions-subtitle {
        margin: 25px auto;
    }
}

@media (max-width: 500px) {
    .goodItem-questions {
        h6 {
            font-size: 13px;

        }
        h6:first-of-type {
            color: #56565681;
        }
    }
}