.banner {
  display: flex;
  gap: 3vw;
  position: relative;
  height: 500px;
}
.banner-arrow {
  position: absolute;
  transform: translateX(0);
  top: 220px;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 1px solid rgba(128, 128, 128, 0.274);
  border-radius: 50%;
  color: rgb(115, 63, 63);
  cursor: pointer;
  z-index: 99;
  transition: .5s;
}
.banner-arrow:hover {
  color: #cf4e32;
}
.banner-arrow-left {
  left: 10px;
}
.banner-arrow-left:hover {
  transform: translateX(-5px);
}
.banner-arrow-right {
  right: 8px;
}
.banner-arrow-right:disabled,
.banner-arrow-left:disabled {
  display: none;
}
.banner-arrow-right:hover {
 transform: translateX(5px);
}
.banner-item {
  opacity: 0;
  transform: translate(0%);
  position: absolute;
  top: 10px;
  left: 0;
  margin-left: 1.5vw;
  border-radius: 10px;
  border: 1px solid #cf4f3252;
  width: 97vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 15px #cf4f3229;
  transition: 0.7s;
}
.banner-item-bg {
  width: 60vw;
  height: 498px;
  background-color: #cf4e32;
  border-radius: 10px 0 0 10px;
}

.banner-image {
  width: 60vw;
  height: 100%;
  border-radius: 0 10px 10px 0;
}

.banner-button {
  position: absolute;
  bottom: 140px;
  right: 30px;
  padding-top: 2px;
  padding: 10px 15px;
  background-color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-button:hover {
  background-color: #a63218;
  color: white;
}
.banner-button div {
  width: 20px;
}

.banner-image-svg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  z-index: 0;
}

.banner-text {
  color: white;
  padding: 100px 0 0 60px;

  h1 {
    font-size: 42px;
  }
}
.banner-subtext {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  gap: 10px;
  position: relative;
 

  p {
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    flex-direction: column;
    text-indent: 45px;
    
  }
  div { 
    position: absolute;
    top: 3px;
    left: 0;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 1750px) {
  .banner {
    height: 450px;
  }
  .banner-item {
    height: 450px;
  }
  .banner-item-bg {
    height: 448px;
  }
  .banner-arrow {
    top: calc(450px / 2 - 30px);
    width: 55px;
    height: 55px;
  }

  .banner-arrow-left {
    left: 10px;
  }
  .banner-arrow-right {
    right: 10px;
  }
  .banner-text {
    padding: 70px 0 0 60px;
  
    h1 {
      font-size: 38px;
    }
  }
  .banner-subtext {
    margin-top: 40px;
    p {
      font-size: 26px;
    }
  }
}

@media (max-width: 1600px) {
  .banner {
    height: 400px;
  }
  .banner-item {
    height: 400px;
    width: 93vw;
    margin-left: calc(7vw / 2);
  }
  
  .banner-item-bg {
    height: 398px;
  }
  .banner-arrow {
    top: calc(400px / 2 - 24px);
    width: 45px;
    height: 45px;
  }

  .banner-arrow-left {
    left: 40px;
  }
  .banner-arrow-right {
    right: 30px;
  }
  
  .banner-text {
    padding: 80px 0 0 50px;
  
    h1 {
      font-size: 34px;
    }
  }
  .banner-subtext {
    margin-top: 30px;
    p {
      font-size: 24px;
    }
    div {
      top: 2pxpx;
      width: 30px;
      height: 30px;
    }
  }
}


@media (max-width: 1350px) {
  .banner {
    height: 350px;
  }
  .banner-item {
    height: 350px;
    width: 93vw;
    margin-left: calc(7vw / 2);
  }
  
  .banner-item-bg {
    height: 348px;
  }
}
@media (max-width: 1200px) {
  .banner {
    height: 300px;
  }
  .banner-item {
    height: 300px;
    width: 93vw;
    margin-left: calc(7vw / 2);
  }
  
  .banner-item-bg {
    height: 298px;
  }
}
@media (max-width: 1000px) {
  .banner {
    height: 270px;
  }
  .banner-item {
    height: 270px;
    width: 95vw;
    margin-left: calc(5vw / 2);
  }
  
  .banner-item-bg {
    height: 268px;
  }
}


@media (max-width: 800px) {

  .banner {
    height: 420px;
    margin-bottom: 50px;
  }
  .banner-item {
    width: 85vw;
    height: 420px;
    display: flex;
    margin-left: calc(15vw / 2);
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    box-shadow: none;
   border: none;
  }
  .banner-item-bg {
    width: 100%;
    height: 25%;
    background-color: #cf4e32;
    border-radius: 0 0 5px 5px;
   
  }
  .banner-image {
    width: 100%;
    border: 1px solid #cf4e32;
    height: 75%;
    object-fit:cover;
    object-position: center -30px; 
    border-radius: 5px 5px 0 0 ;
  }

  .banner-button {
    color: #313131;
    position: absolute;
    bottom: 21%;
    right: 5%;
    padding: 0;
    background-color: #fff;
    font-weight: 700;
    width: 165px;
    height: 35px;
    font-size: 13px;
  }

  .banner-button div {
    margin-top: 5px;
    width: 20px;
  }

  .banner-arrow {
    position: absolute;
    top: 94%;
    width: 30px;
    height: 30px;
  }

  .banner-arrow-left {
    left: 82.5%;
  }

  .banner-arrow-right {
    right: 7.5%;
  }

  .banner-text {
    padding: 10px 20px 0 15px;

    h1 {
      width: 67%;
      font-size: 16px;
    }
  }
  .banner-subtext {
    width: 100%;
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: start;
    gap: 10px;

    p {
      font-size: 14px;
      font-weight: 500;
      text-indent: 30px;
    }
    div {
      margin-top: -2px;
      width: 20px;
      height: 20px;
    }
  }
}


@media (max-width: 750px) {
  .banner-item {
    width: 90vw;
    margin-left: calc(10vw / 2);
  }

  .banner-arrow-left {
    left: 84.5%;
  }

  .banner-arrow-right {
    right: 5.5%;
  }
}

@media (max-width: 700px) {
  .banner-text {
    h1 {
      width: 70%;
    }
  }
  .banner-arrow-left {
    left: 83.5%;
  }

  .banner-arrow-right {
    right: 5.5%;
  }
  .banner-subtext {
    margin-top: 7px;
    gap: 0px;

    p {
      font-size: 13px;
      text-indent: 24px;
    }
    div {
      margin-top: -4px;
      width: 17px;
      height: 17px;
    }
  }
}

@media (max-width: 600px) {
  .banner-item {
    width: 95vw;
    margin-left: calc(5vw / 2);
  }
  .banner-button {
    right: 2%;
  }
  .banner-arrow-left {
    left: 84%;
  }

  .banner-arrow-right {
    right: 3.5%;
  }
}

@media (max-width: 550px) {
  .banner-arrow-left {
    left: 83%;
  }

  .banner-arrow-right {
    right: 3%;
  }
  .banner {
    height: 400px;
    margin-bottom: 50px;
  }
  .banner-item {
    height: 400px;
  }
  .banner-item-bg {
    height: 30%;
   
  }
  .banner-image {
    height: 70%;
  }
  .banner-button {
    bottom: 26%;
    width: 155px;
    height: 32px;
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .banner-item-bg {
    height: 35%;
   
  }
  .banner-text {
    padding: 20px 10px;
    h1 {
      width: 90%;
    }
  }
  .banner-image {
    height: 65%;
  }
  .banner-button {
    bottom: 31%;
  }
}

@media (max-width: 460px) {
  .banner-image {
    height: 64%;
  }
  .banner-item-bg {
    height: 36%;
   
  }
  .banner-button {
    bottom: 32%;
  }
  
  .banner {
    height: 360px;
    margin-bottom: 50px;
  }
  .banner-item {
    height: 360px;
  }
  .banner-arrow-left {
    left: 80%;
  }

  .banner-arrow-right {
    right: 3%;
  }
  .banner-arrow {
    top: 93%;
  }
}
@media (max-width: 410px) {
  .banner-image {
    height: 64%;
    object-position: center -10px; 
  }
  .banner-item-bg {
    height: 36%;
   
  }
  .banner-button {
    bottom: 32%;
  }
  
  .banner {
    height: 340px;
  }
  .banner-item {
    height: 340px;
  }
  .banner-arrow-left {
    left: 78%;
  }

  .banner-arrow-right {
    right: 3%;
  }
  .banner-arrow {
    top: 93%;
  }
  .banner-button div {
    width: 16px;
  }
  .banner-text {
  
    h1 {
      font-size: 14px;
    }
  }
  .banner-subtext {
    margin-top: 8px;
    gap: 0;
   
  
    p {
      font-size: 10px;
      text-indent: 20px;
      
    }
    div { 
      top: -3px;
      width: 14px;
      margin-top: 0;
      height: 14px;
    }
  }
}



@media (max-width: 360px) {

  .banner-image {
    height: 60%;
  }
  .banner-item-bg {
    height: 40%;
   
  }

  .banner-arrow-left {
    left: 75.5%;
  }

  .banner-arrow-right {
    right: 3%;
  }
  .banner-button {
    bottom: 36%;
  }
}
@media (max-width: 340px) {

  .banner {
   
    height: 320px;
  }
  .banner-item {
    height: 320px;
     width: 98vw;
     margin: 0 1vw;
  }

  .banner-image {
    height: 55%;
  }
  .banner-item-bg {
    height: 45%;
   
  }

  .banner-arrow-left {
    left: 75%;
  }

  .banner-button {
    bottom: 40%;
  }
}