.benefitLine-block {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  margin: 60px 80px 0 80px;
}
.benefitLine-image {
  background-color: #cf4e32;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.benefitLine-image img {
  width: 55px;
  height: 55px;
}

.benefitLine {
  border-left: 1px solid  #565656;;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: #565656;
  gap: 20px;
}
.benefitLine:first-of-type {
  border: none;
}

.benefitLine p {
  text-align: center;
  font-size: 17px;
  font-weight: 550;
  width: 60%;
  flex-wrap: wrap;
}


@media (max-width: 1650px) {
  .benefitLine-block {
    margin: 60px auto;
  }
  .benefitLine p {
    font-size: 15px;
    width: 70%;
  }
  .benefitLine {
    gap: 12px;
  }
  .benefitLine-image {
    width: 70px;
    height: 70px;
  }
  .benefitLine-image img {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 1250px) {
  .benefitLine-block {
    margin: 60px auto 0px;
  }
  .benefitLine p {
    font-size: 12px;
    width: 70%;
  }
  .benefitLine {
    gap: 7px;
  }
  .benefitLine-image {
    width: 50px;
    height: 50px;
  }
  .benefitLine-image img {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 1000px) {
  .benefitLine-block {
    margin: 20px auto 0px;
  }
  .benefitLine p {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .benefitLine-block {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    margin: 0;
    row-gap: 20px;
  }
  .benefitLine-image {
    width: 50px;
    height: 50px;
  }
  .benefitLine-image img {
    width: 30px;
    height: 30px;
  }
  .benefitLine p {
    text-align: center;
    font-size: 12px;
    font-weight: 550;
    width: 50%;
  }
  .benefitLine {
    width: 33vw;
    border: none;
    gap: 10px;
  }
}
@media (max-width: 600px) {
  .benefitLine-block {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    margin: 0;
    gap: 10px 15px;
  }
  .benefitLine-image {
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }
  .benefitLine-image img {
    width: 24px;
    height: 24px;
  }
  .benefitLine p {
    text-align: center;
    font-size: 10px;
    font-weight: 550;
    width: 70%;
  }
  .benefitLine {
    width: 30vw;
    border: none;
    gap: 10px;
  }
}

@media (max-width: 550px) {
  .benefitLine p {
    width: 90%;
  }
}
@media (max-width: 400px) {
  .benefitLine p {
    width: 100%;
  }
}