.header-catalog-block {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 30px;
  margin: 20px 70px;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo-text {
  width: 130px;
}
.header-logo-img {
  padding-top: 2px;
  width: 42px;
}
.header-catalog {
  width: 120px;
  height: 45px;
  background-color: #cf4e32;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  font-size: 15px;
  margin-right: 10px;

  div {
    width: 23px;
    height: 23px;
  }
}
.header-catalog-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #cf4e32;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}
.header-catalog-input input {
  padding-left: 15px;
  width: 45vw;
  font-size: 18px;
  height: 47px;
  border-radius: 15px;
  border: 1px solid #cf4f329f;
}

.header-catalog-search {
  width: 34px;
  height: 34px;
  margin: 0 15px 0 5px;

  border-radius: 0 15px 15px 0;
}
.header-catalog-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  gap: 60px;
}
.header-catalog-icon-block {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-catalog-icon {
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
}
.header-catalog-icon span {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #cf4e32;
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
  text-align: center;
  padding-top: 2px;
}

@media (max-width: 1000px) {
  .header-catalog-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 15px;
  }
  .header-logo-text {
    width: 70px;
  }
  .header-logo-img {
    width: 24px;
    padding-bottom: 2px;
    margin-left: -2px;
  }

  .header-catalog {
    width: 50px;
    height: 35px;
    background-color: #cf4e32;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 15px;

    div {
      width: 23px;
      height: 23px;
    }
  }
  .header-catalog span {
    display: none;
  }
  .header-catalog-input {
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #cf4e32;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 15px;
  }
  .header-catalog-input input {
    padding-left: 10px;
    width: 65vw;
    font-size: 15px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #cf4f329f;
  }

  .header-catalog-search {
    width: 20px;
    height: 20px;
    margin: 0 15px 0 5px;
    border-radius: 0 10px 10px 0;
  }

  .header-catalog-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 45px;
    gap: 25px;
  }
  .header-catalog-icon {
    width: 32px;
    height: 32px;
    position: relative;
    cursor: pointer;
  }
  .header-catalog-icon-block p {
    display: none;
  }
  .header-catalog-icon {
    width: 20px;
    height: 20px;
  }
  .header-catalog-icon span {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #cf4e32;
    color: white;
    width: 16px;
    height: 16px;
    font-size: 8px;
    border-radius: 50%;
    text-align: center;
    padding-top: 2px;
  }
}
