.listGoods-sort-flex {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    overflow: scroll;
    scrollbar-width: none;
    margin-bottom: 20px;
}

.listGoods-sort-icon {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F5F9;
    border-radius: 10px;
    padding: 8px;

    svg {
        
        fill: #565656;
        width: 26px;
        height: 26px;
    }
}

.listGoods-sort-character {
    width: max-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F5F9;
    border-radius: 10px;
    padding: 0 10px;
    gap: 5px;
    color: #565656;

    svg {
        transform: rotate(90deg);
        width: 20px;

    }
}