.loading {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 1100;
}
.loading-module {
  background-color: #E8EFF5;
  width: 650px;
  height: 400px;
  margin: calc((100vh - 550px) / 2) auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.loading-car {
  position: relative;
  width: max-content;
  height: max-content;

  svg {
    width: 70px;
    height: 70px;
  }
}

.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  position: absolute;
  top: -7px;
  left: -7px;
  display: inline-block;
  width: 100px;
  height: 100px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 84px;
  height: 84px;
  margin: 0;
  border-radius: 50%;
  border: 6.4px solid #442005;
  border-color: #442005 transparent #442005 transparent;
  animation: lds-dual-ring 1.8s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




.loading-line {
  width: 380px;
  background-color: #bdbdbd;
  height: 25px;
  border-radius: 10px;
  position: relative;
}
.loading-line::after {
  content: "";
  width: 20px;
  background-color: #cf4e32;
  height: 25px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  
}
.loading p {
  color: #cf4e32;
  margin-top: 5px;
}

@keyframes car {
  0% {
    left: 0;
  }
  100% {
    left: 300px;
  }
}
@keyframes loading-line {
  0% {
    width: 20px;
  }
  100% {
    width: 380px;
  }
}


@media (max-width: 500px) {
  .loading-module {
    background-color: #fff;
    width: 80vw;
    height: 400px;
    margin: calc((100vh - 400px) / 2) auto;
    gap: 30px;
  }
  
  .loading-car {
    position: relative;
  }
  .loading-car img {
    width: 65px;
    
  }
  .loading-line {
    height: 20px;
    width: 75vw;
  }
  .loading-line::after {
    content: "";
    width: 20px;
    background-color: #cf4e32;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    animation: loading-line 6s ease-in-out infinite;
    
  }
  
  @keyframes car {
    0% {
      left: 0;
    }
    100% {
      left: 60vw;
    }
  }
  @keyframes loading-line {
    0% {
      width: 20px;
    }
    100% {
      width: 75vw;
    }
  }
}
