.path {
    margin-left: 80px;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: start;
    gap: 5px;
}
.path p {
    font-weight: 300;
}
.path p:last-of-type {
    font-weight: 600;
}
.path-arrow {
    margin-top: 3px;
    width: 14px;

    svg {
        fill: rgb(177, 177, 177);
    }
}
.path-arrow:last-of-type {
    display: none;
}

.path-arrow-mobile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;

    svg {
        width: 22px;
        height: 22px;
        fill: #565656;
    }
}

@media (max-width: 1200px) {
    .path {
        font-size: 12px;
    }
    .path p:last-of-type {
        margin-top: -2px;
    }
}

@media (max-width: 600px) {
    .path {
        flex-wrap: wrap;
    }
}

@media (max-width: 500px) {
    .path {
        display: none;
    }
}