.categoryPopup {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 65px 15px 20px;
    gap: 15px;

    h3 {
        font-weight: 650;
        font-size: 22px;
    }
}
.categoryPopup-input {
    width: 100%;

    input {
        width: 100%;
        height: 45px;
        background-color: #EBEBEB;
        border: none;
        border-radius: 10px;
    }
}
.categoryPopup-list {
    width: 100%;
    padding: 0 5px;
    height: 70%;
    scrollbar-width: thin;
    scrollbar-color: #888;
    overflow-y: scroll;
    scroll-behavior: smooth;

    h3 {
        width: 100%;
        background-color: #EBEBEB;
        padding-left: 5px;
        font-size: 14px;
        border-radius: 5px;
    }
}

.categoryPopup-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    padding: 5px;
    border-bottom: 1px solid #EBEBEB;

    h4 {
        font-weight: 550;
        color: #565656;
        font-size: 14px;
    }

    .cart-main-select-all {
        p {
            display: none;
        }
        div {
            width: 40px;
            height: 40px;

            .goodsPopup-svg {
                background-color: #EBEBEB;
                fill: #EBEBEB;
                width: 30px;
                height: 30px;
                transform: translateX(5px) translateY(4px);
                border-radius: 5px;
            }
        }
    }
}
.categoryPopup-item:last-of-type {
    border: none;
}
.categoryPopup-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    button {
        font-size: 16px;
        font-weight: 600;
        width: 47%;
        height: 40px;
        border: 1px solid #CF4E32;
        background-color: #fff;
        color: black;
    }
    button:last-of-type {
        background-color: #CF4E32;
        color: white;
    }
}