@use './categoryList';
@use './filterGoods';
@use './sortGoods';

.listGoods-sort-flex {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-bottom: 20px;
    scrollbar-color: none;
    scroll-behavior: none;
}

.listGoods-sort-icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F5F9;
    border-radius: 10px;
    padding: 6px;

    svg {
        
        fill: #565656;
        width: 25px;
        height: 25px;
    }
}

.listGoods-sort-character {
    width: max-content;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F5F9;
    border-radius: 10px;
    padding: 0 15px;
    gap: 5px;
    color: #565656;
    
    h6 {
        font-size: 14px;
        font-weight: 650;
    }

    svg {
        transform: rotate(90deg);
        width: 20px;

    }
}