.main-good-status {
  padding: 2px 5px;
  background-color: #d9efff;
  color: #574ccc;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 10px;
}
.main-good-image {
  justify-content: center;
  border: 1px solid #cf4e32;
}
.main-good-image img {
  width: 220px;
  height: 270px;
  object-fit: contain;
}
.good-category {
  margin: 10px 0 5px;
  justify-content: start;
  font-size: 12px;
  gap: 2px;
}
.good-category p {
  text-overflow: ellipsis;
  overflow-x: hidden;
  max-width: 110px;
  height: 20px;
  font-size: 12px;
  white-space: nowrap;
  color: rgba(128, 128, 128, 0.8);
}
.good-category span {
  color: rgba(128, 128, 128, 0.8);
  margin-left: -7px;
}
.good-category p:last-of-type {
  color: rgb(90, 90, 90);
}
.good-category div {
  width: 15px;
  height: 15px;
  color: rgba(128, 128, 128, 0.567);
}
.good-reviews {
  justify-content: start;
  gap: 10px;

  font-weight: 600;
}
.good-star {
  color: #ffce54;
  padding-top: 5px;
}
.good-star-item {
  width: 20px;
}
.good-count {
  justify-content: space-between;
  margin-bottom: 15px;
}
.good-count p {
  font-size: 14px;
  color: #19a331;
  position: relative;
}
.good-count p::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 9px;
  width: 5px;
  height: 5px;
  background-color: #19a331;
  border-radius: 50%;
}
.flex {
  display: flex;
  align-items: center;
}

@media (max-width: 1600px) {
  .main-good-status {
    padding: 2px 5px;
    width: 80px;
    font-weight: 600;
  }
  .main-good-image img {
    width: 200px;
    height: 270px;
    object-fit: contain;
  }
}



@media (max-width: 600px) {
  .main-good-status {
    padding: 2px 5px;
    width: 60px;
    height: 20px;
    font-size: 12px;
    border-radius: 5px;
    top: 25px;
    left: 25px;
  }
  .main-good-image {
    margin: 0 auto;
    width: 90%;
    justify-content: center;
    border: 1px solid #cf4e32;
    border-radius: 5px;
  }
  .main-good-image img {
    width: 100%;
    max-height: 260px;
    height: max-content;
  }

  .good-category {
    margin: 7px 0 3px 25px;
    font-size: 12px;
    gap: 2px;
  }
  .good-category p {
    max-width: 90px;
    height: 20px;
  }
  .good-category span {
    margin-left: -7px;
  }
  .good-category div {
    margin-top: -5px;
    width: 12px;
    height: 12px;
  }


  .good-reviews {
    margin-left: 25px;
    justify-content: start;
    gap: 10px;
    font-weight: 600;
    font-size: 13px;
  }
  .good-star {
    padding-top: 5px;
  }
  .good-star-item {
    width: 16px;
  }
  .good-count {
    margin: 0 25px;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .good-count p {
    font-size: 12px;
  }
  .good-count h2 {
    font-size: 18px;
    margin-top: -3px;
  }
  .good-count p::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 7px;
    width: 5px;
    height: 5px;
    background-color: #19a331;
    border-radius: 50%;
  }
}


@media (max-width: 500px) {
  .good-count {
    margin: 0 10px;
    margin-bottom: 15px;
  }
  .good-reviews {
    margin-left: 10px;
  }
  .good-category {
    margin: 7px 0 3px 10px;
  }
}