.mainGoods {
  margin: 100px auto;
  width: 90vw;
}
.mainGoods-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}
.mainGoods-title,
.mainGoods-title-again {
  position: relative;
}
.mainGoods-title {
  margin-left: 60px;
  margin-bottom: 40px;
  gap: 40px;
  cursor: pointer;
}
.mainGoods-title-again div {
  width: 26px;
  color: rgba(128, 128, 128, 0.686);
}
.mainGoods-title-again p {
  font-size: 17px;
}
.mainGoods-title-again {
  display: flex;
  position: absolute;
  top: 0;
  left: 135px;
  gap: 0;
  transition: 1s;
}
.mainGoods-title:hover .mainGoods-title-again {
  gap: 10px;
}
.main-good {
  border-radius: 5px;
  border: 1px solid #cf4e32;
  padding: 30px 15px 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main-good button {
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #cf4e32;
  color: white;
  font-size: 17px;
}
.main-good button:hover {
  font-size: 18px;
  background-color: #a63218;
}

@media (max-width: 1600px) {
  
  .mainGoods {
    margin: 100px auto;
    width: 78vw;
  }
  .mainGoods-list {
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 40px 60px;
  }
  .mainGoods-title {
    margin-left: 0;
    margin-bottom: 25px;
  }
  .mainGoods-title-again div {
    width: 18px;
    margin-top: 2px;
  }
  .mainGoods-title-again p {
    font-size: 14px;
  }
  .mainGoods-title-again {
    left: 125px;
  }
  .mainGoods-title:hover .mainGoods-title-again {
    gap: 5px;
  }
}

@media (max-width: 1500px) {
  .mainGoods {
    width: 85vw;
  }
  .mainGoods-list {
    grid-template-columns: repeat(3, 27%);
    justify-content: center;
    gap: 40px 60px;
  }
}
@media (max-width: 1350px) {
  .mainGoods {
    width: 87vw;
  }
  .mainGoods-list {
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    gap: 40px 50px;
  }
}
@media (max-width: 1250px) {
  .mainGoods {
    width: 90vw;
  }
  .mainGoods-list {
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    gap: 40px;
  }
}
@media (max-width: 1100px) {
  .mainGoods {
    width: 94vw;
  }
  .mainGoods-list {
    grid-template-columns: repeat(3, 30%);
    gap: 30px;
  }
  .mainGoods-title {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
}
@media (max-width: 1050px) {
  .mainGoods {
    width: 90vw;
  }
  .mainGoods-list {
    grid-template-columns: repeat(2, 45%);
    gap: 40px 60px;
  }
  
}
@media (max-width: 900px) {
  .mainGoods {
    width: 92vw;
  }
  .mainGoods-list {
    grid-template-columns: repeat(2, 45%);
    gap: 40px;
  }
  
}
@media (max-width: 750px) {
  .mainGoods {
    width: 94vw;
  }
  .mainGoods-list {
    grid-template-columns: repeat(2, 45%);
    gap: 30px;
  }
  
}
@media (max-width: 650px) {
  .mainGoods {
    width: 97vw;
  }
  .mainGoods-list {
    grid-template-columns: repeat(2, 45%);
    gap: 30px;
  }
  
}

@media (max-width: 600px) {
  .mainGoods {
    margin: 50px auto 20px auto;
  }
  .mainGoods-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .mainGoods-title {
    margin-left: 10px;
    margin-bottom: 0;
    gap: 10px;

  }
  .mainGoods-title h1 {
    font-size: 22px;
    margin-left: 10px;
  }
  .mainGoods-title-again div {
    margin-top: -2px;
    width: 14px;
  }
  .mainGoods-title-again p {
    font-size: 11px;
  }
  .mainGoods-title-again {
    top: -2px;
    left: 85px;
    gap: 0;
    transition: 1s;
  }

  .main-good {
    border-radius: 0;
    border: none;
    padding: 30px 20px 15px;
  }
  .main-good button {
    border-radius: 5px;
    padding: 9px;
    font-size: 15px;
  }
  .main-good button:hover {
    font-size: 16px;
  }
  .main-good button {
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 25px;
    background-color: #cf4e32;
    color: white;
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .mainGoods {
    
    margin: 50px auto 20px;
  }
  .mainGoods-list {
    width: 93vw;
    margin: 0 auto;
    display: grid;
    justify-content: space-between;

    grid-template-columns: repeat(2, 44vw);
    gap: 20px;

    .goodSection {
      padding: 0px;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      // align-items: center;
      gap: 6px;
      height: 100%;

      h2 {
        font-size: 15px;
        margin-top: 0;
      }

      .goodSection-gallery {
        height: 200px;
        width: 44vw;
        
      }

      .goodSection-rating {
        margin-top: auto;
        margin-right: auto;
        .star-container {
          line-height: 20px;
          width: 15px !important;
          height: 15px !important;
  
          svg {
            width: 14px !important;
            height: 14px !important;
          }
        }
        p {
          font-size: 13px;
        }
      }

      .goodSection-actions-price {
        h1 {
          position: absolute;
          bottom: 12px;
          right: 0;
          font-size: 16px;
        }
      }

      .goodSection-actions {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        width: max-content;
        // display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 5px;
        border-radius: 50px;
        box-shadow: 0px 0px 35px 10px #0000002d;

        div:last-of-type {
          display: none;
        }
      }
    }
  }
  .mainGoods-title {
    margin-left: 10px;
    margin-bottom: 20px;
    gap: 10px;

  }
  .mainGoods-title h1 {
    font-size: 22px;
    margin-left: 10px;
  }
  .mainGoods-title-again div {
    margin-top: -2px;
    width: 14px;
  }
  .mainGoods-title-again p {
    font-size: 11px;
  }
  .mainGoods-title-again {
    top: -2px;
    left: 85px;
    gap: 0;
    transition: 1s;
  }

  
}

@media (max-width: 500px) {
  .main-good button {
    margin: 0 10px;
  }
}