.settings {
    width: 95vw;
    margin: 0 auto;
}

.settings-head {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    div {
        width: 20px;
        height: 20px;
        margin-right: auto;
    }
    h4 {
        margin-right: auto;
        margin-left: -5px;
        color: #565656;
    }
}

.settings-avatar {
    position: relative;
    width: max-content;
    margin: 15px auto 25px;

    .user-profile-avatar {
        width: 90px;
        height: 90px;

        img {
            filter: brightness(75%) blur(.8px);
        }
    }
}

.settings-avatar-add {
    background-color: #CF4E32;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;

    svg {
        width: 24px;
        height: 24px;
    }
}

.settings-form {
    display: flex;
    flex-direction: column;
    align-items: start;

    button {
        padding: 20px 7px;
        border: none;
        border-bottom: 1px solid lightgray;
        background-color: #fff;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        margin: 0 auto;
        color: rgb(123, 123, 123);
        font-size: 16px;

        div {
            margin-right: 10px;
            width: 14px;
            height: 14px;
        }
    }
    .settings-delete {
        color: #CF4E32;
    }
}

.settings-input {
    width: 95%;
    margin: 0 auto;
    input {
        border: none;
        border-bottom: 1px solid lightgray;
        color: rgb(123, 123, 123);
        width: 100%;
        padding: 20px 7px;
        border-radius: 0;
        font-size: 16px;
    }
    input::placeholder {
        color: rgb(123, 123, 123);
    }
}

.truck-icon {
    .wheel {
      animation: spin 1s linear infinite; // Анимация вращения колес
    }
  
    .front-wheel {
      transform-origin: center; // Центр вращения
    }
  
    .back-wheel {
      transform-origin: center;
    }
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

  .truck-icon {
    animation: moveBackForth 2s ease-in-out infinite;
  
    @keyframes moveBackForth {
      0%, 100% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(10px);
      }
    }
  }
  