@use './goodItem-main/goodItem-path';
@use './goodItem-main/goodItem-main';
@use './goodItem-main/goodItem-parametere';
@use './goodItem-main/goodItem-add';

@use './goodItem-addition/goodItem-description';
@use './goodItem-addition/goodItem-reviews/goodItem-reviews';
@use './goodItem-addition/goodItem-questions';

.goodItem {
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    
}
.goodItem-flex {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 60px;
    // position: relative;
}

////// Линия с вкладками описание, отызывы, вопросы

.goodItem-allDescription {
    margin-top: 120px;
    position: relative;
    
}

.goodItem-allDescription-title {
    position: absolute;
    top: -70px;
    width: calc(80vw / 3);
    border-bottom: 1px dotted #565656;
    text-align: center;
    font-size: 28px;
}
.goodItem-allDescription-title-description {
    left: 0%;
    

}
.activeTitle {
    border-bottom: 1px solid black;
}
.goodItem-allDescription-title-reviews {
    left: 33.45%;
}
.goodItem-allDescription-title-questions {
    left: 66.8%;
}
.goodItem-allDescription-block {
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .4s;
    opacity: 0;
}

 .activeBlock {
    margin: 20px 60px;
    opacity: 1;
    height: max-content;
    transform: scaleY(1);
}

@media (max-width: 1840px) {
    .goodItem-flex {
        gap: 20px;
    }
    
}

@media (max-width: 1650px) {
    .goodItem {
        width: 80%;
        padding-top: 20px;
    }
    .goodItem-flex {
        margin-top: 25px;
        gap: 60px;
    }
    
      
}

@media (max-width: 1600px) {
    .goodItem-allDescription-title {
        width: calc(80vw / 3);
        font-size: 24px;
    }
    .goodItem-allDescription-title-reviews {
        left: 33.3%;
    }
    .goodItem-allDescription-title-questions {
        left: 66.6%;
    }
}

@media (max-width: 1580px) {
    .goodItem-flex {
        gap: 40px;
    }
}
@media (max-width: 1450px) {
    .goodItem {
        width: 85%;
    }
    .goodItem-flex {
        margin-top: 25px;
    }
    .goodItem-allDescription-title {
        width: calc(85vw / 3);
        font-size: 22px;
    }
}
@media (max-width: 1400px) {
    .goodItem {
        width: 94%;
    }
    .goodItem-flex {
        gap: 60px;
    }
    
        .goodItem-allDescription-title {
            width: calc(94vw / 3);
        }
    
}
@media (max-width: 1300px) {
    .goodItem {
        width: 96%;
    }
    .goodItem-flex {
        gap: 40px;
    }
    
        .goodItem-allDescription-title {
            width: calc(85vw / 3);
            font-size: 20px;
        }
        .goodItem-allDescription-title-description {
            left: 6%;
        }
        .goodItem-allDescription-title-reviews {
            left: 35.5%;
        }
        .goodItem-allDescription-title-questions {
            left: 65%;
        }
    
}
@media (max-width: 1200px) {
    .goodItem-flex {
        gap: 30px;
    }
}
@media (max-width: 1100px) {
    .goodItem {
        width: 90%;
        padding-top: 0px;
    }
    .goodItem-flex {
        justify-content: center;
        gap: 60px;
    }

   
        .goodItem-allDescription-title {
            width: calc(90vw / 3);
            font-size: 20px;
        }
        .goodItem-allDescription-title-description {
            left: 0%;
        }
        .goodItem-allDescription-title-reviews {
            left: 33.3%;
        }
        .goodItem-allDescription-title-questions {
            left: 66.6%;
        }
    
    
}
@media (max-width: 1020px) {
    .goodItem-allDescription-title {
        width: calc(90vw / 3);
        font-size: 18px;
    }
    .goodItem-allDescription-title-description {
        left: 0%;
    }
    .goodItem-allDescription-title-reviews {
        left: 33.3%;
    }
    .goodItem-allDescription-title-questions {
        left: 66.6%;
    }
}
@media (max-width: 1000px) {
    .goodItem {
        width: 93%;
    }
    .goodItem-flex {
        gap: 40px;
    }
    
        .goodItem-allDescription-title {
            width: calc(90vw / 3);
            font-size: 18px;
        }
        .goodItem-allDescription-title-description {
            left: 2%;
        }
        .goodItem-allDescription-title-reviews {
            left: 34.3%;
        }
        .goodItem-allDescription-title-questions {
            left: 66.6%;
        }
    
    
}

@media (max-width: 910px) {
    .goodItem-flex {
        flex-direction: column;
        align-items: center;
        
    }

    
    .goodItem-allDescription {
        margin-top: 80px;
        position: static;
        
    }
    .goodItem-allDescription-item {
        border-bottom:  1px dotted #565656;
    }
    .goodItem-allDescription-title {
        position: static;
        top: 0;
        width: 100%;
        border-bottom: none;
        text-align: center;
        font-size: 28px;
        margin: 20px auto;
    }

    .activeTitle {
        border-bottom: none;
    }
    
    .activeBlock {
        margin: 20px auto;
    }
}

@media (max-width: 750px) {
    .goodItem-allDescription-title {
        font-size: 23px;
    }
}

@media (max-width: 600px) {
    .goodItem {
        width: 95%;
        margin-top: -25px; 
    }

}
@media (max-width: 500px) {
    .goodItem-allDescription {
        margin-top: 30px;
        margin-bottom: 70px;
        
    }
}
@media (max-width: 450px) {
    .goodItem-allDescription-title {
        font-size: 20px;
    }
}
@media (max-width: 400px) {
    .goodItem-allDescription-title {
        font-size: 18px;
    }
}
@media (max-width: 350px) {
    .goodItem-allDescription-title {
        font-size: 16px;
    }
}