.cartPopup-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
    display: flex;
    align-items: flex-end; /* Чтобы блок был снизу */
    justify-content: center;
    transition: opacity 0.3s ease;
    overflow-y: hidden;
  }
  
  .cartPopup {
    border-radius: 15px 15px 0 0;
    width: 100vw;
    height: 30vh;
    background-color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 25px;
    position: relative;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .cartPopup::before {
    content: ' ';
    position: absolute;
    top: 10px;
    left: calc((100% - 120px) / 2);
    background-color: #6c6c6c;
    width: 120px;
    height: 5px;
    border-radius: 50px;
  }
  
  .cartPopup-item {
    color: #1E1E1E;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;

    div {
        width: 26px;
        height: 26px;

        svg {
            fill: #1E1E1E;
        }
    }

    p {
        font-size: 20px;
    }
  }

  