.myFavorite {
    width: 85vw;
    margin: 20px auto;
}

.myFavorite-head {
    width: 100%;
}
.myFavorite-head-flex {
    margin-top: 20px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.myFavorite-sort {
    display: flex;
    align-items: center;
    gap: 40px;
}
.myFavorite-sort-selector {
    background-color: #E0EDFA;
    padding: 7px 12px;
}